<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/fragments/headerFragment :: header" th:remove="tag"></div>
    <link href="../static/css/base.css" rel="stylesheet" th:href="@{/css/base.css}" />
    <link href="../static/css/cvss.css" rel="stylesheet" th:href="@{/css/cvss.css}" />
</head>
<body>
    <form action="/kerentanan/save" method="POST">
        
	<div th:replace="/fragments/navFragment :: nav" th:remove="tag"></div>
        <div class="container mt-lg-2">
            <div class="row w-100">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">IDVN</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Lapor</li>
                    </ol>
                </nav>
            </div>
            <div th:if="${flashmsg}" th:utext="${flashmsg}" th:class="${flashcode==200} ? 'alert alert-success' : 'alert alert-danger' " role="alert"></div>
            <div class="row border">
                <div class="col-md-12">
                    <h4 style="margin-top: 10px; margin-bottom: 30px;">Lapor Kerentanan</h4>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="overview">Overview</label>
                        <input type="text" class="form-control" name="overview" id="overview">
                        <small id="otxt" class="form-text text-muted">Overview berupa gambaran umum dari kerentanan yang terjadi.</small>
                    </div>
                    <div class="form-group">
                        <label for="product">Produk Terjangkit</label>
                        <input type="text" class="form-control" name="productAffected" id="productAffected">
                            <small id="otxt" class="form-text text-muted">Produk terjangkit berupa produk-produk yang mengalami kerentanan.</small>
                    </div>
                    <div class="form-group">
                        <label for="description">Deskripsi</label>
                        <textarea class="form-control" id="description" name="description" rows="4"></textarea>
                        <small id="otxt" class="form-text text-muted">Deskripsi mendetail dari kerentanan yang terjadi.</small>
                    </div>
                    <div class="form-group">
                        <label for="impact">Dampak Serangan</label>
                        <textarea class="form-control" id="impact" name="impact" rows="3"></textarea>
                        <small id="otxt" class="form-text text-muted">Dampak yang terjadi terhadap produk terjangkit kerentanan.</small>
                    </div>
                    <div class="form-group">
                        <label for="vendor">Vendor</label>
                        <select class="form-control" name="vendorStr" id="vendorStr">
                            <option value="" selected>-- Pilih --</option>
                            <option th:each="vendor : ${vendors}" th:value="${vendor.id}" th:text="${vendor.name}"></option>
                        </select>
                        <small id="otxt" class="form-text text-muted">Vendor yang memiliki produk yang rentanan.</small>
                    </div>
                    <div class="form-group">
                        <label for="reference">Referensi</label>
                        <input type="text" class="form-control" name="references" id="references" placeholder="Referensi">
                        <small id="otxt" class="form-text text-muted">Referensi berupa rujukan dari kerentanan, apabila sudah ada pencatatan terkait kerentanan (contoh: CVE dan CWE)</small>
                    </div>
                    <!-- Content Isi -->

                    <div class="media text-muted pt-3">
                        <p class="media-body pb-3 mb-0 lh-125 text-dark">
                            <strong class="d-block text-gray-dark">Vulnerability Analysis - CVSS</strong>
                    </div>
                    <div class="form-group">
                        <label for="vectorString">Vector String</label>
                        <input type="text" class="form-control" name="vectorStr" id="vectorStr"
                            placeholder="CVSS:3.0/" disabled>
                        <input type="hidden" class="form-control" name="vectorString" id="vectorString">
                    </div>
                    <div class="cvss-wrapper">
                        <div id="cvss-v3-line" class="cvss-line">
                            <span class="cvss-version">CVSS v3</span>
                        </div>
                        <div id="cvssboard"> </div>
                        <small id="otxt" class="form-text text-muted">Analisis CVSS berupa analisis dari kerentanan yang terjadi, mengikuti standar penilaian CVSS.</small>
                    </div>
                    <!-- End Content Isi -->
                </div>
            </div>
            <div class="row border" style="margin-top: 10px;">
                <div class="col-md-12">
                    <div class="d-flex flex-row-reverse" style="margin-top: 10px;">
                        <button type="button" class="btn btn-primary m-2 pull-right" id="submitBtn" data-toggle="modal"
                            data-target="#submitModal">&nbsp;&nbsp;Submit&nbsp;&nbsp;</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- MODAL -->
        <div class="modal fade" id="submitModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Submit Laporan</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        Apakah semua yang anda masukan benar dan dapat dipertanggung jawabkan baik secara praktik maupun
                        secara hukum?
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Tidak</button>
                        <button type="submit" class="btn btn-primary">&nbsp;&nbsp;Ya&nbsp;&nbsp;</button>
                    </div>

                </div>
            </div>
        </div>
    </form>

    <div th:replace="/fragments/footerFragment :: footer" th:remove="tag"></div>
    <script src="../static/js/cvss.js" th:src="@{/js/cvss.js}"></script>

    <script>
        var c = new CVSS("cvssboard", {
            onchange: function() {
                window.location.hash = c.get().vector;
                c.vector.setAttribute('href', '#' + c.get().vector)
            }
        });
        if (window.location.hash.substring(1).length > 0) {
            c.set(decodeURIComponent(window.location.hash.substring(1)));
        }
    </script>

</body>

</html>