<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/fragments/headerFragment :: header" th:remove="tag"></div>
    <link href="../static/css/base.css" rel="stylesheet" th:href="@{/css/base.css}" />
    <link href="../static/css/cvssView.css" rel="stylesheet" th:href="@{/css/cvssView.css}" />
    <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
</head>

<body>
	<div th:replace="/fragments/navFragment :: nav" th:remove="tag"></div>
    <div class="container mt-lg-2">
        <div class="row w-100">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}">IDVN</a></li>
                    <li class="breadcrumb-item active" aria-current="page" th:text="${laporan.code}"></li>
                </ol>
            </nav>
        </div>
        <div class="row border">
            <div class="col-md-12">
                <h4 style="margin-top: 10px;" th:text="${laporan.code}"></h4>
                <h5 style="margin-bottom: 30px;" th:text="${judul}"></h5>
            </div>
            <div class="col">
                <!-- Content Isi -->
                <div class="media text-muted pt-3">
                    <p class="media-body pb-3 mb-0 lh-125 border-bottom text-dark">
                        <strong class="d-block text-gray-dark">Overview</strong>
                        <p th:text="${laporan.overview}" th:remove="tag"></p>
                    </p>
                </div>
                <div class="media text-muted pt-3">
                    <p class="media-body pb-3 mb-0 lh-125 border-bottom text-dark">
                        <strong class="d-block text-gray-dark">Products Affected</strong>
                        <p th:text="${laporan.productAffected}" th:remove="tag"></p>
                    </p>
                </div>
                <div class="media text-muted pt-3">
                    <p class="media-body pb-3 mb-0 lh-125 border-bottom text-dark">
                        <strong class="d-block text-gray-dark">Impacts</strong>
                        <p th:text="${laporan.impact}" th:remove="tag"></p>
                    </p>
                </div>
                <div class="media text-muted pt-3">
                    <p class="media-body pb-3 mb-0 lh-125 border-bottom text-dark">
                        <strong class="d-block text-gray-dark">Description</strong>
                        <p th:text="${laporan.description}" th:remove="tag"></p>
                    </p>
                </div>
                <div class="media text-muted pt-3">
                    <div class="media-body pb-3 mb-0 lh-125 border-bottom text-dark">
                        <strong class="d-block text-gray-dark">Workaround</strong>
                        <ul>
                        	<li class="urlable" th:each="workaround : ${laporan.workarounds}" th:text="${workaround.solution}"></li>
                        </ul>
                    </div>
                </div>
                <div th:if="${laporan.status == 'PATCHED'}" class="media text-muted pt-3">
                    <div class="media-body pb-3 mb-0 lh-125 border-bottom text-dark">
                        <strong class="d-block text-gray-dark">Patch Kerentanan</strong>
                        <ul>
                        	<li class="urlable" th:text="${laporan.patch.catatanPatch}"></li>
                        	<li class="urlable" th:text="${laporan.patch.urlPatch}"></li>
                        </ul>
                    </div>
                </div>
                <div class="media text-muted pt-3">
                    <p class="media-body pb-3 mb-0 lh-125 text-dark">
                        <strong class="d-block text-gray-dark">Vendor Status</strong>

                    </p>
                </div>
                <p th:if="${laporan.statusVendor == null}">
                	Belum ada status penanganan kerentanan dari Vendor
                </p>
                <div th:if="${laporan.statusVendor != null}" th:remove="tag">
	                <table class="table table-striped border">
	                    <thead>
	                        <tr class="thead-dark">
	                            <th scope="col">Vendor</th>
	                            <th scope="col">Status</th>
	                            <th scope="col">Update Status</th>
	                            <th scope="col">Catatan Vendor</th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        <tr th:each="statusVendor : ${laporan.statusVendor}">
	                            <th scope="row" style="width: 200px;" th:text="${laporan.vendor.name}"></th>
	                            <td th:text="${statusVendor.statusVendor}"></td>
	                            <td th:text="${#dates.format(statusVendor.createdTimestamp, 'yyyy/MM/dd')}"></td>
	                            <td class="urlable" th:text="${statusVendor.catatanVendor}" style="width: 600px;"></td>
	                        </tr>
	                    </tbody>
	                </table>
				</div>
                <div class="media text-muted pt-3">
                    <p class="media-body pb-3 mb-0 lh-125 border-bottom text-dark">
                    </p>
                </div>

                <div class="media text-muted pt-3">
                    <p class="media-body pb-3 mb-0 lh-125 border-bottom text-dark">
                        <strong class="d-block text-gray-dark">References</strong>
                        <p th:text="${laporan.references}" th:remove="tag"></p>
                    </p>
                </div>
                <div class="media text-muted pt-3">
                    <p class="media-body pb-3 mb-0 lh-125 text-dark">
                        <strong class="d-block text-gray-dark">Vulnerability Analysis - CVSS</strong>
                </div>
                <div class="cvss-wrapper">
                    <div id="cvss-v3-line" class="cvss-line">
                        <span class="cvss-version">CVSS v3</span>
                        <span id="cvss-v3-vector-string"
                            class="cvss-vector-string" th:text="${laporan.vectorString}"></span>
                    </div>
                    <div id="cvssboard"> </div>
                </div>
                <div class="media text-muted pt-3">
                    <p class="media-body pb-3 mb-0 lh-125 border-bottom text-dark">
                        <strong class="d-block text-gray-dark">Credit</strong>
                         <p th:text="${laporan.createdBy.name}" th:remove="tag"></p> melaporkan kerentanan kepada IDVN pada <p th:text="${date}" th:remove="tag"> </p><br>
                         <p th:if="${laporan.editedBy != null}" th:text="${laporan.editedBy.name}" th:remove="tag"> </p><p th:if="${dateEdit != ''}" th:text="' melakukan perubahan detail kerentanan kepada IDVN pada ' + ${dateEdit}" th:remove="tag"><br>
                    </p>
                </div>
                <!-- End Content Isi -->
            </div>
        </div>
    </div>
    <div th:replace="/fragments/footerFragment :: footer" th:remove="tag"></div>
    <script src="../static/js/cvssView.js" th:src="@{/js/cvssView.js}"></script>
    <script src="../static/js/base.js" th:src="@{/js/base.js}"></script>

    <script>
        var c = new CVSSView("cvssboard", );
        c.set(document.getElementById("cvss-v3-vector-string").textContent);
    </script>
    <!-- /container -->
    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>

</html>