<th:block th:fragment="footer">
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <p class="navbar-text">Copyright © 2020 IDVN</p>
        </div>
    </div>
    <!-- END MODAL -->

    <!-- /container -->
    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
</th:block>