<th:block th:fragment="auditor">
	<div class="row border" style="margin-top: 10px;">
		<div class="col-md-12">
			<h4 style="margin-top: 10px; margin-bottom: 30px;">Penggunaan - Auditor</h4>
		</div>
		<div class="col">
			<ol>
				<li>Auditor dapat menerima laporan kerentanan dari notifier terhadap perangkat yang yang mengalami kerentanan.</li>
				<li>Auditor dapat memberikan update terhadap kerentanan yang dilaporkan.</li>
				<li>Auditor dapat memberikan workaround terhadap kerentanan yang dilaporkan.</li>
				<li>Auditor dapat melakukan validasi terhadap kerentanan yang dilaporkan.</li>
			</ol>
		</div>
	</div>
</th:block>

<th:block th:fragment="vendor">
	<div class="row border" style="margin-top: 10px;">
		<div class="col-md-12">
			<h4 style="margin-top: 10px; margin-bottom: 30px;">Penggunaan - Vendor</h4>
		</div>
		<div class="col">
			<ol>
				<li>Auditor dapat menerima laporan kerentanan dari notifier terhadap perangkat yang yang mengalami kerentanan.</li>
				<li>Auditor dapat memberikan update terhadap kerentanan yang dilaporkan.</li>
				<li>Auditor dapat memberikan workaround terhadap kerentanan yang dilaporkan.</li>
				<li>Auditor dapat melakukan validasi terhadap kerentanan yang dilaporkan.</li>
			</ol>
		</div>
	</div>
</th:block>

<th:block th:fragment="notifier">
	<div class="row border" style="margin-top: 10px;">
		<div class="col-md-12">
			<h4 style="margin-top: 10px; margin-bottom: 30px;">Penggunaan - Notifier</h4>
		</div>
		<div class="col">
			<ol>
				<li>Auditor dapat menerima laporan kerentanan dari notifier terhadap perangkat yang yang mengalami kerentanan.</li>
				<li>Auditor dapat memberikan update terhadap kerentanan yang dilaporkan.</li>
				<li>Auditor dapat memberikan workaround terhadap kerentanan yang dilaporkan.</li>
				<li>Auditor dapat melakukan validasi terhadap kerentanan yang dilaporkan.</li>
			</ol>
		</div>
	</div>
</th:block>

