<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/fragments/headerFragment :: header" th:remove="tag"></div>
    <link href="../static/css/login.css" rel="stylesheet" th:href="@{/css/login.css}" />
</head>
<body>
	ERR: <p th:text="${errorMsg}"></p>
    <div id="logreg-forms">
        <form action="/dologin" method="POST" class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
            <div class="social-login">
                <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign in with Facebook</span> </button>
                <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign in with Google+</span> </button>
            </div>
            <p style="text-align:center"> OR  </p>
            <input type="email" id="username" name="username" class="form-control" placeholder="Email address" required="" autofocus="">
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
            
            <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Sign in</button>
            <a href="#" id="forgot_pswd">Forgot password?</a>
            <hr>
            <!-- <p>Don't have an account!</p>  -->
            <button class="btn btn-primary btn-block" type="button" id="btn-signup"><i class="fas fa-user-plus"></i> Sign up New Account</button>
            </form>

            <form action="/reset/password/" class="form-reset">
                <input type="email" id="resetEmail" class="form-control" placeholder="Email address" required="" autofocus="">
                <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
                <a href="#" id="cancel_reset"><i class="fas fa-angle-left"></i> Back</a>
            </form>
            
            <form action="/register/notifier" method="POST" class="form-signup">
                <div class="social-login">
                    <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign up with Facebook</span> </button>
                </div>
                <div class="social-login">
                    <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign up with Google+</span> </button>
                </div>
                
                <p style="text-align:center">OR</p>

                <input type="text" id="name" name="name" class="form-control" placeholder="Nama" requiredc autofocus="">
                <input type="email" id="email" name="email" class="form-control" placeholder="Alamat Email" required autofocus="">
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required autofocus="">
                <input type="password" id="matchingPassword" name="matchingPassword" class="form-control" placeholder="Ulangi Password" required autofocus="">
                <input type="text" id="contact" name="contact" class="form-control" placeholder="Nomor Kontak" required autofocus="">

                <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-user-plus"></i> Sign Up</button>
                <a href="#" id="cancel_signup"><i class="fas fa-angle-left"></i> Back</a>
            </form>
            <br>
            
    </div>


    <div th:replace="/fragments/footerFragment :: footer" th:remove="tag"></div>
    <script src="../static/js/font-awesome-all.js" th:src="@{/js/font-awesome-all.js}"></script>
    <script src="../static/js/login.js" th:src="@{/js/login.js}"></script>

</body>

</html>